/target/
!.mvn/wrapper/maven-wrapper.jar
.classpath
.mvn/

### STS ### 
.apt_generated
.factorypath
#.project
.classpath
src/main/resources/application.yml
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
